@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #121212;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.htmx-indicator {
  display: none;
}
.htmx-request .htmx-indicator {
  display: inline;
}
.htmx-request.htmx-indicator {
  display: inline;
}

.background-custom {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(230%2c 230%2c 230%2c 1)'%3e%3c/rect%3e%3cpath d='M294.97 646.17C490.44 610.25 582.55 122.09 890.45 119.47 1198.34 116.85 1327.86 329.11 1485.92 332.27' stroke='rgba(0%2c 0%2c 0%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M707.7 660.67C818.68 635.81 787.32 342.91 1033.07 342.71 1278.83 342.51 1513.52 542.02 1683.82 544.31' stroke='rgba(0%2c 0%2c 0%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M220.55 582.21C416.84 569.92 561.82 202.95 909.57 202.51 1257.31 202.07 1419.88 391.17 1598.58 392.91' stroke='rgba(0%2c 0%2c 0%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M503.45 648.31C606.82 640.07 568.2 442.6 857.82 432.76 1147.44 422.92 1379 189.84 1566.56 186.36' stroke='rgba(0%2c 0%2c 0%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M396.01 571.2C560.17 515.18 585.61 46.92 833.22 32.45 1080.83 17.98 1051.83 102.45 1270.43 102.45 1489.03 102.45 1596.95 32.67 1707.64 32.45' stroke='rgba(0%2c 0%2c 0%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
